@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#presentacion{ 
    display : block; 
}
#explicacion{ 
    display : none; 
}
#cifrado{ 
    display : none; 
}


.header {
    overflow: hidden;
    background-color: white;
    
  }
  
.logo{
    width: 200px;
    height: 81px;
}

  
h1{
    font-family: "Open Sans", Bold;
    color: #0096CA;
    font-size: 60px;
    font-weight: 500px;
    
}

#texto1{
    
    display: inline-block;
    
    float: left;
    margin-right: 4%;
    background-color: white;
    border: none;
    width: 47%;
    
  }

h3{
    color: #131617;
    font-size: 20px;    
    font-family: "Open Sans", Light;
    
}

p1{    
    color: #131617;
    font-size: 16px;    
    font-family: "Open Sans", Light; 
    
}

#parrafo1{
    
    border: none;
    padding-left: 2.5em;
    margin-left: 4%;
    
}

#parrafo2{
    
    border: none;
    padding-left: 2.5em;
    margin-left: 4%;
    
}
#parrafo3{
    
    border: none;
    padding-left: 2.5em;
    margin-left: 4%;
    margin-bottom: 4%;
}


.mujer{
    width: 600px;
    height:430px;
    border-radius:100px;
}

#img1 {    
    display: inline-block; 

  }

#botones1{
    text-align: center;
}

#boton1{
    
    text-align: center;
    border-radius: 70px;
    font-family: "Open Sans", Regular;
    font-size: 20px;
    color: azure;
    background-color:#0096CA;
    border:none;
    height: 70px;
    width: 300px;
    
}

#boton2{
    position: relative;
    text-align: center;
    border-radius: 70px;
    font-family: "Open Sans", Regular;
    font-size: 20px;
    color: azure;
    background-color:#0096CA;
    border:none;
    height: 70px;
    width: 300px;
    top: 0.65em;
    
}

#texto2{
    
    display: inline-block;
    
    float: right;
    margin-right: 4%;
    background-color: white;
    border: none;
    width: 50%;
    
  }

h3{
    color: #131617;
    font-size: 20px;    
    font-family: "Open Sans", Light;
    
}

p1{    
    color: #131617;
    font-size: 16px;    
    font-family: "Open Sans", Light; 
    
}

#parrafo4{
    
    border: none;
    padding-left: 2.5em;
    margin-left: 4%;
    
}

#parrafo5{
    
    border: none;
    padding-left: 2.5em;
    margin-left: 4%;
    
}
#parrafo6{
    
    border: none;
    padding-left: 2.5em;
    margin-left: 4%;
    margin-bottom: 4%;
}


.hombre{
    width: 600px;
    height:430px;
    border-radius:100px;
}

#img2 {    
    display: inline-block;
    
    

  }
h2{
    color: #0096CA;
    text-align: center;
    font-size: 45px;
    font-weight: 500px;
    font-family: "Open Sans", Bold;
}

h4{
    color: #131617;
    
    font-size: 18px;
    
    font-family: "Open Sans", Light;
}

#botones2{
    text-align: center;
}

#boton3{
    
    text-align: center;
    border-radius: 70px;
    font-family: "Open Sans", Regular;
    font-size: 20px;
    color: azure;
    background-color:#0096CA;
    border:none;
    height: 70px;
    width: 300px;
    
}

#boton4{
    position: relative;
    text-align: center;
    border-radius: 70px;
    font-family: "Open Sans", Regular;
    font-size: 20px;
    color: azure;
    background-color:#0096CA;
    border:none;
    height: 70px;
    width: 300px;
    top: 0.65em
    
}

#ingresar{
    text-align: center;
}

#ingresar1{
    display: inline-block;
    text-align: center;
    margin-left: 0%;
    background-color: white;
    border: none;
    width: 30%;
}

#ingresar2{
    display: inline-block;
    text-align: center;
    margin-right: 10%;
    background-color: white;
    border: none;
    
}

#contraseña{
    
    color: #0096CA;
    text-align: center;
    font-size: 20px;
    font-weight: 500px;
    font-family: "Open Sans", Regular;
    left: 20em;    

}

#pass{
    
    text-align: center;
    font-size:20px;
    font-family: "Open Sans", Regular;
    padding: 30px;
    font-weight: 200px;
    background-color: white;
    border-radius: 6px;
    border: 2px solid #0096CA;
    left: 26.5em;
}

#semana{
       
    color: #0096CA;
    text-align: center;
    font-size: 20px;
    font-weight: 500px;
    font-family: "Open Sans", Regular;
    left: 30em; 
}

#day{
    text-align: center;
    display: inline-block;
    font-size:20px;
    font-family: "Open Sans", Regular;
    padding: 10px;
    font-weight: 200px;
    background-color: white;
    border-radius: 100px;
    border: 2px solid #0096CA;
    left: 31.5em;
    height: 50px;
    width: 60px;
    
}

#botones3{
    text-align: center;
    
}

#boton5{
    display: inline-block;
    text-align: center;
    border-radius: 70px;
    font-family: "Open Sans", Regular;
    font-size: 20px;
    color: azure;
    background-color:#0096CA;
    border:none;
    height: 70px;
    width: 200px;
    margin: 0.5em;
    
}

#boton6{
    display: inline-block;
    text-align: center;
    border-radius: 70px;
    font-family: "Open Sans", Regular;
    font-size: 20px;
    color: azure;
    background-color:#0096CA;
    border:none;
    height: 70px;
    width: 200px;
    margin: 0.5em;
    
}

#boton7{
    display: inline-block;
    text-align: center;
    border-radius: 70px;
    font-family: "Open Sans", Regular;
    font-size: 20px;
    color: azure;
    background-color:#0096CA;
    border:none;
    height: 70px;
    width: 200px;
    margin: 0.5em;
}

#boton8{
    display: inline-block;
    text-align: center;
    border-radius: 70px;
    font-family: "Open Sans", Regular;
    font-size: 18px;
    color: azure;
    background-color:#0096CA;
    border:none;
    height:40px;
    width: 200px;
    margin: 0.5em;
    
}

#boton9{
    display: inline-block;
    text-align: center;
    border-radius: 70px;
    font-family: "Open Sans", Regular;
    font-size: 18px;
    color: azure;
    background-color:#0096CA;
    border:none;
    height:40px;
    width: 200px;
    margin: 0.5em;
}

#box{
    
    display: inline-block;
    border: 2px solid #0096CA;
    text-align: center;
    font-size: 20px;
    font-weight: 500px;
    font-family: "Open Sans", Regular;
    padding: 30px;
    border-radius: 6px;
    
    
}

#resultado{
    display: inline-block;
    text-align: center;
    
    background-color: white;
    border: none;
    width: 100%
}

#recordatorio1{
    display: block;
    width: 10%;
    border: 1px solid #131617 ;
    padding-left: 2.5em;
    margin-left: 4%;
}